<h3>Edit Artist!</h3>

<form action="/artists/<%=@artist.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="artist-name">Enter Name</label>
  <input type="text" name="artist[name]" id="artist-name" value="<%=@artist.name %>"> <br>
  <br>

  <label for="artist-age">Enter Age</label>
  <input type="text" name="artist[age]" value="<%=@artist.age %>"> <br>
  <br>

  <label for="artist-bio">Enter Bio</label>
  <input type="text" name="artist[bio]" value="<%=@artist.bio %>"> <br>
  <br>

  <input type="submit" value="SUBMIT">

</form>
