<h3>Create a New Artist!</h3>

<form action="/artists" method="post">

  <label for="artist-name">Enter Name</label>
  <input type="text" name="name" id="artist-name" value="Beatles"> <br>
  <br>

  <label for="artist-age">Enter Age</label>
  <input type="text" name="age" value="1"> <br>
  <br>

  <label for="artist-bio">Enter Bio</label>
  <input type="text" name="bio" value="So good"> <br>
  <br>

  <input type="submit" value="SUBMIT">

</form>
